:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-accent: #2196f3;
    --color-bg-dark: #2f303a;
    --color-bg-light: #f5f4fa;

    --color-white: #ffffff;

    --font-normal: 500;
    --font-bold: 700;
    --font-xbold: 900;

    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-26: 26px;
    --font-36: 36px;
    --font-44: 44px;

    --l-spacing-02: 0.02em;
    --l-spacing-03: 0.03em;
    --l-spacing-06: 0.06em;

    --l-height-16: 1rem;
    --l-height-19: 1.1875rem;
    --l-height-24: 1.5rem;
    --l-height-26: 1.625rem;
    --l-height-30: 1.875rem;
    --l-height-31: 1.938rem;
    --l-height-36: 2.25rem;
    --l-height-42: 2.625rem;
    --l-height-60: 3.75rem;

    --maxwidth: 1170px;

    --gap-6: 6px;
    --gap-8: 8px;
    --gap-9: 9px;
    --gap-10: 10px;
    --gap-20: 20px;
    --gap-22: 22px;
    --gap-24: 24px;
    --gap-30: 30px;
    --gap-41: 41px;
    --gap-42: 42px;
    --gap-50: 50px;
    --gap-46: 46px;
    --gap-60: 60px;
    --gap-93: 93px;
    --gap-94: 94px;

    --border-r-4: 4px;

    --font-primary: 'Roboto', sans-serif;
    --font-raleway: 'Raleway', sans-serif;

    --inline-b: inline-block;
}

html {
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-primary);
}

.container {
    width: var(--maxwidth);
    margin: 0 auto;
}

.container-mt {
    margin-top: var(--gap-94);
}

.container-mb {
    margin-bottom: var(--gap-94);
}

.mb-94 {
    margin-bottom: var(--gap-94);
}

.mt-94 {
    margin-top: var(--gap-94);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: var(--font-36);
    line-height: var(--l-height-42);
    font-weight: var(--font-bold);
    letter-spacing: var(--l-spacing-03);
    margin-bottom: var(--gap-50);
}

.accent {
    color: var(--color-accent);
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header-logo {
    color: var(--color-primary);
    font-size: 1.625rem;
    font-family: var(--font-raleway);
    font-weight: var(--font-bold);
    letter-spacing: var(--l-spacing-03);
    line-height: var(--l-height-31);
}

.nav {
    display: flex;
    gap: var(--gap-93);
}

.nav ul {
    display: flex;
    align-items: center;
    gap: var(--gap-46);
}

.nav-link {
    color: var(--color-primary);
    transition: color 150ms ease-in-out;
}

.active-link {
    color: var(--color-accent);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-accent);
}

.contact {
    display: flex;
    gap: var(--gap-50);
    align-items: center;
}

.header-contact-link {
    color: var(--color-secondary);
    font-size: var(--font-14);
    line-height: var(--l-height-16);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-02);
    transition: color 150ms ease-in-out;
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--color-accent);
}


.mid {
    background: var(--color-bg-dark);
    height: 37.5rem;
    display: flex;
    align-items: center;
}

.mid-content {
    text-align: center;
}

.mid-content h1 {
    color: var(--color-white);
    font-size: var(--font-44);
    font-weight: var(--font-xbold);
    line-height: var(--l-height-60);
    letter-spacing: var(--l-spacing-06);
    width: 46.5rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--gap-30);
}

.mid-btn {
    color: var(--color-white);
    background-color: var(--color-accent);
    font-size: var(--font-16);
    font-weight: var(--font-bold);
    line-height: var(--l-height-30);
    letter-spacing: var(--l-spacing-06);
    padding: var(--gap-10) var(--gap-41);
    border: 0;
    border-radius: var(--border-r-4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.about-content {
    display: flex;
    gap: var(--gap-30);
}

.about-content-item h3 {
    font-size: var(--font-14);
    line-height: var(--l-height-16);
    font-weight: var(--font-bold);
    letter-spacing: var(--l-spacing-03);
    margin-bottom: var(--gap-10);
}

.about-content-item p {
    color: var(--color-secondary);
    font-size: var(--font-14);
    line-height: var(--l-height-24);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
}


.what-we-do {
    text-align: center;
}

.what-we-do-content {
    display: flex;
    gap: var(--gap-30);
}


.team {
    text-align: center;
}

.team-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-30);
}

.team-content-item h4 {
    color: var(--color-primary);
    font-size: var(--font-16);
    line-height: var(--l-height-19);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
    padding-top: var(--gap-30);
    padding-bottom: var(--gap-10);
}

.team-content-item p {
    color: var(--color-secondary);
    font-size: var(--font-16);
    line-height: var(--l-height-19);
    padding-bottom: var(--gap-30);
}

.team-content-item {
    max-width: 270px;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    transition: box-shadow 150ms ease-in-out, background 150ms ease-in-out;
}


.footer {
    background-color: var(--color-bg-dark);
    display: flex;
    align-items: center;
}

.footer-content {
    margin-top: var(--gap-60);
    margin-bottom: var(--gap-60);
}

.footer-logo {
    color: var(--color-white);
    font-size: var(--font-26);
    font-family: var(--font-raleway);
    font-weight: var(--font-bold);
    letter-spacing: var(--l-spacing-03);
    line-height: var(--l-height-31);
}

address {
    margin-top: var(--gap-20);
}

.footer-contact-link:not(:last-child) {
    margin-bottom: var(--gap-9);
}

.footer-contact-link {
    color: var(--color-white);
    font-size: var(--font-14);
    line-height: var(--l-height-24);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
}

.footer-contact-link a {
    color: var(--color-white);
    opacity: 0.6;
    font-size: var(--font-14);
    line-height: var(--l-height-24);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
    transition: color 150ms ease-in-out, opacity 150ms ease-in-out;
}

.footer-contact-link a:hover,
.footer-contact-link a:focus {
    color: var(--color-accent);
    opacity: 1;
}


.portfolio-filtr-content {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--gap-50);
    align-items: center;
    justify-content: center;
}

.portfolio-filtr-content-item:not(:last-child) {
    margin-right: var(--gap-8);
}

.portfolio-filtr-content-item--button {
    color: var(--color-primary);
    font-size: var(--font-16);
    line-height: var(--l-height-26);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
    background-color: var(--color-bg-light);
    border: 0;
    border-radius: var(--border-r-4);
    padding: var(--gap-6) var(--gap-22);
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
}

.portfolio-filtr-content-item--button:hover,
.portfolio-filtr-content-item--button:focus,
.portfolio-filtr-content-item--button:active {
    color: var(--color-white);
    background-color: var(--color-accent);
}


.portfolio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-30);
}

.portfolio-content-item {
    max-width: 370px;
    height: auto;
    background: #ffffff;
    border: 1px solid #eeeeee;
    transition: box-shadow 150ms ease-in-out, background 150ms ease-in-out;
    overflow: hidden;
}

.portfolio-content-item:hover,
.portfolio-content-item:focus {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.portfolio-content-item-link h3 {
    color: var(--color-primary);
    font-size: var(--font-18);
    line-height: var(--l-height-36);
    font-weight: var(--font-bold);
    font-family: var(--font-primary);
    letter-spacing: var(--l-spacing-06);
    padding-top: var(--gap-20);
    padding-bottom: var(--gap-10);
    padding-left: var(--gap-24);
}

.portfolio-content-item-link p {
    color: var(--color-secondary);
    font-size: var(--font-16);
    line-height: var(--l-height-30);
    font-weight: var(--font-normal);
    letter-spacing: var(--l-spacing-03);
    padding-bottom: var(--gap-30);
    padding-left: var(--gap-24);
}

img {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

img[alt]::before {
    color: var(--color-primary);
    font-size: var(--font-18);
    line-height: var(--l-height-36);
    font-weight: var(--font-bold);
    font-family: var(--font-primary);
    letter-spacing: var(--l-spacing-06);
    width: 100%;
    text-align: right;
    position: absolute;
    right: 40%;
    top: 50%;
    transform: translateY(-50%);
}

img[alt]::after {
    content: '';
    background: url(../images/not-found-icon-18.jpg) no-repeat;
    background-size: contain;
    height: 30px;
    color: var(--color-primary);
    font-size: var(--font-18);
    line-height: var(--l-height-36);
    font-weight: var(--font-bold);
    font-family: var(--font-primary);
    letter-spacing: var(--l-spacing-06);
    width: 100%;
    text-align: left;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translateY(-50%);
}